/* css universul code  */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    list-style: none;
    text-decoration: none;
}

body
{
    max-width: 2000px;
}

/* header start  */
header
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5% 7%;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(43, 43, 43, 0.072);
}
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.logo img 
{
    width: 40px;
}
.logo h2 
{
    color: #0B0223;
}
.logo h2 span
{
    color:  #F948B2 ;
}
nav ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
nav ul li ,.follow h3 
{
   color: #3C354F;
   font-size: 18px;
}
nav ul .follow
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    padding: .5rem 1rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.follow h3 
{
    font-weight: 400;
}
.follow img 
{
    width: 25px;
}
/* header End */

/* "banner start  */
.banner
{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px,1fr));
    place-items: center;
    grid-gap: 1rem;
    background: #FFF;
}
.left-banner
{
    position: relative;
}
.left-banner img 
{
    width: 100%;
}
.left-banner .banner-details
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 50%;  
    left: 35%; 
    transform: translate(-50%, -50%);
}
.banner-details h2 
{
    font-size: 2.4rem;
    font-weight: 600;
}
.banner-details h1 
{
    font-size: 4rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.basic-icon 
{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.basic-icon i 
{
    display: flex;
    justify-content: flex-start;
    align-items: start;
}
.basic-icon .circle ,
.basic-icon .download
{
    color: #F948B2;
}
.basic-icon .circle h4 ,
.basic-icon .download h4 ,.fa-user h4 
{
    font-size: 1.1rem;
    color: #534C64;
    margin-left: 10px;
}
.btn
{
    display: inline-block;
    padding: 7px 15px;
    font-size: 18px;
    color: #FFF;
    background: #F948B2;
    border-radius: 48px;
    border: none;
    outline: none;
}
.blue 
{
    background: #4EC5F7;
}
.right-banner
{
    padding-right: 7%;
}
.right-banner img 
{
    width: 100%;
}
/* "banner End */

/* online-game start  */
.online-game
{
    background: white;
}
.online-game-container
{
    padding: 1% 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.online-game-container h2 
{
    font-size: 40px;
    font-weight: 700;
    color: #0B0223;
}
.online-game-container h2  span 
{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game-container p 
{
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
}
.game-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(200px,1fr));
    grid-gap: 1rem;
    text-align: start;
}

.game-box h2 
{
    font-size: 16px;
    font-weight: 300;
    color: #534C64;
    margin-top: 10px;
}
.img-box
{
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
}
.game-box .img-box img 
{
    width: 100%;
    height: 100%;
}
.img-box .overlay
{
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: rgba(28, 27, 27, 0.616);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: bottom 0.4s;
    border-radius: 1rem;
    gap: 1rem;
}
.img-box:hover .overlay
{
    bottom: 0;
}

.overlay i 
{
    font-size: 50px;
    color: #FFF;
}
.overlay h3 
{
    font-size: 17px;
    font-weight: 400;
    color: #F948B2;
}
/* online-game End */


/* announcement  start */

.announcement
{
    width: 100%;
    margin-top: 3%;
    padding: 3% 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 1rem;
    place-items: center;
}
.left-announce
{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    text-align: end;
    gap: 1rem;
}
.left-announce h2
{
    max-width: 180px;
    color: #0c0324;
}
.left-announce h2  span
{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.left-announce p
{
    max-width: 300px;
    font-size: 18px;
    color: #3C354F;
    font-weight: 400;
}
.right-announce
{
    position: relative;
    max-width: 500px;
}
.right-announce .sub-img
{
    position: absolute;
    bottom: 0;
    left: -5rem;
    max-width: 200px;
}
.right-announce .announce-img-box
{
    width: 100%;
}
.announce-img-box img 
{
    width: 100%;
}
/* announcement  End */

/* more games start  */
.more-games
{
    width: 100%;
    padding: 6% 7%;
}
.more-games-container
{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.more-g-img-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 5px 10px;
    border-radius: 40px;
    transition: .4s;
    cursor: pointer;
    border: 2px solid white;
}
.more-g-img-box:hover
{
    border: 2px solid #F948B2;
    color: #F948B2;
}
.more-g-img-box img 
{
width: 50px;
height: 50px;
}
.more-g-img-box h3 
{
    font-size: 13px;
}
/* more games End */

/* footer start  */
footer
{
    padding: 3% 7%;
    background: black;
    width: 100%;
}
.footer-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 1rem;
}
.footer-logo h2
{
    color: white;
}
.footer-ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer-ul li 
{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.60);
}
.copy h3 
{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
}
.social-icon
{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}
.social-icon i 
{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* footer End */



@media screen and (max-width:768px) {
    .header 
    {
       width: 100%;
    }
    .more-games-container
    {
        display: grid ;
        grid-template-columns: repeat(3,1fr);
        place-content: center;
        padding: 2%;
    }
    .left-banner .banner-details 
    {
        left: 50%;
    }
    .right-banner
    {
        width: 80%;
    }
    
}
@media screen and (max-width:505px) {
    .header 
    {
       width: 100%;
    }
    .logo 
    {
        margin: 0 auto;
    }
    nav ul 
    {
        gap: 0.5rem;
    }
    .banner-details h2 
    {
        font-size: 25px;
    }
    .banner-details h1 
    {
        font-size: 35px;
    }
    .basic-icon i h4 
    {
        font-size: 15px;
    }
    .more-games-container
    {
        gap: 0.1rem;
    }
    .more-g-img-box img 
    {
        width: 30px;
        height: 30px;
    }
    .announce-img-box img 
    {
        width: 300px;
    }
    .right-announce .sub-img 
    {
        width: 100px;
        left: -3rem;
    }
    
}